<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

            <h1 class="page-header">Categories:</h1>
             <form class="thing-form">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newCategory">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
                    </span>
                </p>
            </form>
            <table class="table table-striped table-bordered">
                <tr class="" ng-repeat="category in categoryList">
                    <td>{{category.name}}</td>
                    <td>
                        <button type="button" class="close" ng-click="deleteExpense(expense)">&times;</button>
                    </td>
                </tr>
            </table>

    <footer class="footer">
        <div class="container">
            <p>Angular Fullstack v2.0.13 |
                <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
                <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
            </p>
        </div>
    </footer>
